.contactcard{
    width: 100%;
    margin-bottom: 10px;
}
.with-photo {
    height: 350px;
}

.wrap {
    height: auto !important;
}

.resume {
    height: 10px !important;
}

.contact-picture {
    width: 100%;
    height: 200px;
}