/*@import url('https://fonts.googleapis.com/css?family=Ubuntu');*/

.main-content {
  padding-top: 10px;
  color: black;
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  height: 100%;
}

/*.dashView {*/
  /*background-color: lightblue;*/
  /*height: auto;*/
/*}*/

/*.dashNav {*/
  /*background-color: lightgreen;*/
/*}*/

.link {
  text-decoration: none;
  color: white;
  border: none;
  padding: 10px;
}

@media screen and (min-width: 427px) {

  .dashNav{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .link {
    width: auto;
    margin: 0;
    padding: 20px;
  }
  .link:hover{
    background-color: #228B22;
  }

  .dashView{
    width: 75%;
    padding: 10px;
  }

  .linkActive {
    border-left: solid darkgreen 5px;
    background-color: green;
  }
}

@media screen and (max-width: 426px) {

  .main-content {
    padding-top:19px;
    flex-direction: column;
  }

  .dashNav {
    height: 40px;
    display: flex;
    border-bottom: solid grey;
  }

  .link {
    justify-content: flex-start;
  }

  .linkActive {
    background-color: green;
  }
}
