<div class="main-content">
  <div class="dashNav">
    <a routerLink="/dashboard/" (click)="closeNav()" routerLinkActive="linkActive" [routerLinkActiveOptions]="{ exact: true }" class="link">Dashboard</a>
    <a routerLink="/dashboard/editpost" (click)="closeNav()" routerLinkActive="linkActive" class="link">Edit Post</a>
    <a routerLink="/dashboard/editproject" (click)="closeNav()" routerLinkActive="linkActive" class="link">Edit Project</a>
  </div>
  <div class="dashView">
     <router-outlet></router-outlet>
  </div>

</div>
