html {
}

body {
  margin: 0;
  background-color: #A2ABAB;
}

.alert-success {
  background-color: lightgreen;
  color: white;
  opacity: 0.7;
  border-radius: 5px;
  text-align: center;
  font-size: 20px;
}

.alert-error{
  background-color: #FE4042;
  color: white;
  opacity: 0.7;
  border-radius: 5px;
  text-align: center;
  font-size: 20px;
}

.alert{
  padding: 5px;
}

div p{
  margin: 0;
}

textarea, input, select {
  font-family: inherit;
  font-size: inherit;
}
