// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables.sass";

// 2. Set your own initial variables
// Update blue
$blue: #00A7E1;
$blue-invert: #fff;
$pink: #ffb3b3;
$pink-invert: #fff;

$purple: #654597;
// Add a serif family
$family-serif: "Merriweather", "Georgia", serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $blue;
$primary-invert: $blue-invert;
// Use the existing orange as the danger color
$danger: $orange;
// Use the new serif family
$family-primary: $family-serif;

// 4. Import the rest of Bulma
@import "~bulma";

body {
  margin: 0;
}

.alert-success {
  background-color: lightgreen;
  color: white;
  opacity: 0.7;
  border-radius: 5px;
  text-align: center;
  font-size: 20px;
}

.alert-error{
  background-color: #FE4042;
  color: white;
  opacity: 0.7;
  border-radius: 5px;
  text-align: center;
  font-size: 20px;
}

.alert{
  padding: 5px;
}

div p{
  margin: 0;
}

textarea, input, select {
  font-family: inherit;
  font-size: inherit;
}

html {
  background-color: #A2ABAB;
}
