<div class="main-content">

  <h1>Coming Soon</h1>
  <!--<div *ngFor="let post of posts" class="post-card">-->
    <!--<md-card>-->
      <!--<md-card-header>-->
        <!--<md-card-title>{{ post.title}}</md-card-title>-->
        <!--<md-card-subtitle>{{post.date}} | {{post.author}}</md-card-subtitle>-->
      <!--</md-card-header>-->
      <!--<md-card-content>-->
        <!--<p>-->
          <!--{{ post.description}}-->
        <!--</p>-->
      <!--</md-card-content>-->
      <!--<md-card-actions>-->
        <!--<button md-button>READ MORE</button>-->
      <!--</md-card-actions>-->
    <!--</md-card>-->
  <!--</div>-->
</div>
