<div class="container">
  <element-block class="hidden" name="Cm" color="#33658A"></element-block>

  <h1 class="title hidden">Contact Me</h1>

  <div class="contact-elementRow">
    <a href="https://www.linkedin.com/in/adrian-dunham-2521488a">
      <element-block name="Li" color="#0077b5" title="LinkedIn"></element-block>
    </a>
    <a href="mailto:adunham95@gmail.com?Subject=Website%20Email">
      <element-block name="Em" color="#dd4b39" title="Email"></element-block>
    </a>
    <a href="http://www.github.com/adunham95">
      <element-block name="Gh" color="#24292E" title="GitHub"></element-block>
    </a>
  </div>
</div>
