.container {
  display: flex;
}

.element{
  height: 100px;
  min-width: 100px;
  border: solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.element-title {
  font-size: 45px;
  font-family: serif;
}

.element-content {
  margin: 20px;
}

.linkedIn {
  background: #0077b5;
  color: white;
}

.email {
  background: #dd4b39;
  color: white;
}

.gitHub {
  background: #24292E;
  color: white;
}

.contact-elementRow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.contact {
}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 650px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .element {
    max-width: 100px;
  }

  .element-content {
    margin: 0;
  }

  .title {
    text-align: center;
    margin: 0;
  }
}

