<div class="main-content">
  <h1>About Me</h1>

  <h2>What I do</h2>
  <p>
    I am currently a freelance front-end web developer.
    After writing my first line of HTML and getting 'HELLO WORLD' on the screen I was hooked. I continued to learn HTML, CSS, JavaScript writing basic websites to more advanced single pages app. I still have that passion for turning words on the screen on masterpieces on the screen.
    After building a basic personal website. I have rewritten it multiple times, making it more modern and adding more technology. My most recent project was taking static designs from a designer and converting it to a WordPress template using VueJS and the WordPress API.
    Adrian is currently looking for a job as front-end web developer interested in challenges. If you have a challenge for me to tackle contact me at adunham95@gmail.com
  </p>

  <h2>Accomplishments</h2>
  <ul>
    <li>
      <h3>Graduated College</h3>
      <time>May 2017</time>
    </li>
    <li>
      <h3>Released First Hybrid App on the Google Play store</h3>
      <time>October 2016</time>
    </li>
    <li>
      <h3>Published my First Website</h3>
      <time>August 2014</time>
    </li>
  </ul>

</div>
