<div class="main-content">

  <div class="container">
    <div class="element aboutMe">
      <span class="element-title">Am</span>
    </div>

    <div class="element-content">
      <h1 class="title">About Me</h1>

      <p>
        {{ myResume.about.aboutMe}}
      </p>
    </div>
  </div>


  <div class="container">
    <div class="element milestones">
      <span class="element-title">Mi</span>
    </div>

    <div class="element-content">
      <h1 class="title">Milestones</h1>

      <ul>
        <li *ngFor="let item of myResume.about.accomplishments">
          <h3>{{item.title}}</h3>
          <time>{{item.date}}</time>
        </li>
      </ul>
    </div>
  </div>


  <div class="container">
    <div class="element contactMe">
      <span class="element-title">Cm</span>
    </div>

    <div class="element-content">
      <h1 class="title">Contact Me</h1>

      <div class="contact-elementRow">
        <div class="element contact linkedIn">
          <span class="element-title">Li</span>
        </div>
        <div class="element contact email">
          <span class="element-title">Em</span>
        </div>
        <div class="element contact gitHub">
          <span class="element-title">Gh</span>
        </div>
      </div>

    </div>
  </div>


</div>
