/*MAIN COLORS*/
/*#7CFEF0;*/
/*#00A7E1;*/
/*#6BFFB8;*/
/*#003459;*/
/*#007EA7;*/

body {margin: 0;}

/*NAVBAR STUFF*/

ul.sidenav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 250px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

ul.sidenav li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

ul.sidenav li a.active {
  background-color: #00A7E1;
  color: white;
}

ul.sidenav li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 250px;
}

@media screen and (max-width: 1024px) {
  ul.sidenav {
    width: 100%;
    height: auto;
    position: relative;
  }
  ul.sidenav li a {
    float: left;
    padding: 15px;
  }
  div.content {margin-left: 0;}
}

@media screen and (max-width: 426px) {
  ul.sidenav li a {
    text-align: center;
    float: none;
  }
}
