.actions {
  display: flex;
}

.link {
  border: solid 1px black;
  background: #654597;
  color: white;
  padding: 5px;
  margin: 5px 0;
}

h2, h3, p {
  margin:5px 0;
}

a:link {
  text-decoration: none;
}

.blog-card {
  display: flex;
}

@media screen and (min-width: 426px) {
  .blog-card {
    border: 1px white solid;
    background: lightgray;
    margin: 10px 0;
    padding: 10px 10px 15px 10px;
    flex-direction: column;
  }

  .actions {
    justify-content: space-between;
  }

  .link {
    width: inherit;
    margin: 5px;
    text-align: center;
  }
}

@media screen and (max-width: 426px) {
  .actions {
    flex-direction: column;
    align-items: center;
  }

  .link {
    width: inherit;
    text-align: center;
  }

  .blog-card {
    border: 1px white solid;
    background: lightgray;
    margin: 10px 0;
    padding: 10px 10px 15px 10px;
    flex-direction: column;
  }
}
