<div class="main-content">

  <div class="container">
    <element-block name="Pr" color="#654597"></element-block>

    <div class="element-content">
      <h1 class="title">Projects</h1>

      <div *ngFor="let item of myResume.projects" class="project-card">
        <h2>{{item.name}}</h2>
        <h3>{{item.role}}</h3>
        <p>{{item.descriptionShort}}</p>
        <a [href]=item.githubURL class="link">GitHub</a>
        <a [href]=item.website class="link">Project</a>
      </div>
    </div>
  </div>


 <element-contact></element-contact>


</div>
