.main-content {
  font-family: 'Ubuntu', sans-serif;
}

/*.container {*/
  /*display: flex;*/
/*}*/

@media screen and (min-width: 426px) {

  h1.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .project-card {
    margin: 0 10px;
  }
}

@media screen and (max-width: 426px) {

  .title {
    text-align: center;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .project-card {
    margin: 0 10px;
  }

}
