<div class="main-content">

  <section class="section">
    <div class="project-container container">
      <h1 class="title"> <element-block name="Pr" color="#654597"></element-block> Projects <span></span></h1>

      <project-card [project]="project" *ngFor="let project of myProjects" class="project-card"></project-card>

      <project-card [project]="item" *ngFor="let item of myResume.projects" class="project-card"></project-card>
    </div>
  </section>

 <element-contact></element-contact>


</div>
