<div class="main-content">
  <select [(ngModel)]="selectedPost">
    <option *ngFor="let post of posts" [ngValue]="post">{{post.title}}</option>
  </select>
  <div *ngIf="selectedPost" class="post-card">
    <h3 class="post-card-item">Edit {{selectedPost.title}}</h3>
    <label class="post-card-item">Title</label>
    <input [(ngModel)]="selectedPost.title" class="post-card-item">
    <div class="post-card-item">
      <label>In Production</label>
      <input type="checkbox" [(ngModel)]="selectedPost.production">
    </div>
    <label class="post-card-item">Blog Body</label>
    <textarea style="height: 200px"  [(ngModel)]="selectedPost.body" class="post-card-item"></textarea>
    <div class="actions post-card-item">
      <input type="button" class="button delete" (click)="delete(selectedPost._id)" value="Delete">
      <input type="button" class="button update" (click)="update()" value="Update">
    </div>
  </div>
</div>
