.main-content{
  padding: 20px;
}

.post-card {
  display: flex;
  flex-direction: column;
  padding-top: 5px;
}

.actions {
  display: flex;
}

h1, h2, h3 {
  margin: 0;
}

.post-card-item {
  padding: 5px 0;
}

.button{
  border: none;
  color: white;
}
.updateButton {
  background-color: #FF9A00;
}
.updateButton:hover{
   background-color: #FF7400;
 }


.deleteButton {
  background-color: #EF3B2C;
}
.deleteButton:hover{
  background-color: #CB181D;
}

@media screen and (min-width: 426px) {

  .actions {
    justify-content: flex-end;
  }

  .button {
    width: 25%;
    margin: 0 0 0 5px ;
  }
}

@media screen and (max-width: 426px) {
  .actions {
    justify-content: space-between;
  }

  .button {
    width: 49%;
  }
}
