<div class="main-content">

  <section class="section">
    <div class="container">
      <h1 class="title">Adrian Dunham | I am a developer</h1>
      <h2 class="subtitle">
        Currently I am job searching for a Front End Developer position.
      </h2>
    </div>
  </section>

  <section class="section">
    <div class="project-container container">
      <h1 class="title">Latest Project</h1>

      <project-card [project]="project" *ngFor="let project of myProject | slice:0:1; let i=index"></project-card>
    </div>
  </section>

  <section class="section">
    <div class="blog-container container">
      <h1 class="title">Recent Posts</h1>

      <div *ngFor="let item of myBlog | slice:0:1; let i=index">{{item.title}}</div>
    </div>
  </section>
</div>
