<div class="main-content">
  <h1>Recent Posts</h1>

  <md-card class="example-card">
    <md-card-header>
      <md-card-title>Blog Post One</md-card-title>
      <md-card-subtitle>TBD 2017 | Adrian Dunham</md-card-subtitle>
    </md-card-header>
    <md-card-content>
      <p>
        Bacon ipsum dolor amet reprehenderit eu elit nulla bacon do. Ullamco duis ea mollit. Meatloaf nisi tempor ipsum. Labore chicken prosciutto laborum excepteur mollit velit capicola shoulder. Reprehenderit kevin short ribs filet mignon doner esse beef ribs veniam spare ribs. Picanha shank cillum minim porchetta duis biltong aliqua cupidatat lorem occaecat eu. Minim kevin beef ribs cow aliqua.
      </p>
    </md-card-content>
    <md-card-actions>
      <button md-button>READ MORE</button>
      <button md-button>OTHER BUTTON</button>
    </md-card-actions>
  </md-card>
</div>
