<div class="main-content">

  <h1>{{ myResume.about.tagLine}}</h1>

  <p>
    Currently I am job searching for a Front End Developer position.
  </p>

  <h1>Recent Projects</h1>

  <div class="projects">
    <div class="project-card" *ngFor="let project of myResume.projects| slice:0:3; let i=index">
      <h3>{{ project.name}}</h3>
      <img [src]="project.imageURL" class="project-mockup">
      <p>{{ project.descriptionShort}}</p>
      <a [href]="project.website"><button class="project-button">Website</button></a>
      <a [href]="project.githubURL"><button class="project-button">Source Code</button></a>
    </div>
  </div>

  <!--<h1>Recent Posts</h1>-->
  <!--<div class="blog">-->
    <!--<h2>Coming Soon!</h2>-->
  <!--</div>-->
</div>
