<div class="main-content">

  <h1>{{ myResume.about.tagLine}}</h1>

  <p>
    Currently I am job searching for a Front End Developer position.
  </p>


  <div class="project-container">
    <element-block name="Pr" color="#654597"></element-block>

    <div class="element-content">
      <h1 class="title">Latest Project</h1>

      <project-card [project]="item" *ngFor="let item of myResume.projects | slice:0:1; let i=index"></project-card>

    </div>
  </div>

  <div class="blog-container">
    <h1>Recent Posts</h1>
    <div class="blog">
      <h2>Coming Soon!</h2>
    </div>
  </div>
</div>
