@import url('https://fonts.googleapis.com/css?family=Ubuntu');

.main-content {
  font-family: 'Ubuntu', sans-serif;
}
.projects {
  display: flex;
}
.project-card {
  padding: 10px;
  background: grey;
}

.project-card:hover {
  background: dimgrey;
}

.project-button:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}

.project-button {
  background-color: transparent;
  color: black;
  border: 2px solid #4CAF50; /* Green */
}

.project-button a {
  text-decoration: none;
}

.project-button a:hover {
  text-decoration: none;
}

@media screen and (min-width: 400px) {
  .project-card {
    width: 33%;
  }
}

@media screen and (max-width: 400px) {
  .projects {
    flex-direction: column;
    justify-content: center;
  }

  .project-card {
    margin: 10px;
  }
}

.project-mockup {
  max-width:100%;
  max-height:100%;
}
