<div class="main-content">
  <flash-messages></flash-messages>
  <h2 class="page-header">New Blog Post</h2>
  <form (submit)="newPostSubmit()">
    <div class="input-section">
      <label>Title</label>
      <input type="text" [(ngModel)]="title" name="title" class="half">
    </div>
    <div class="input-section">
      <label>Author</label>
      <input type="text" [(ngModel)]="author" name="author" class="half">
    </div>
    <div class="input-section">
      <label>Body</label>
      <textarea rows="4" cols="50" [(ngModel)]="content" name="content"></textarea>
    </div>
    <div class="input-section">
      <input type="submit" value="Add Post" class="submit-button">
    </div>
  </form>
</div>
