.main-content{
  padding: 20px;
}

.input-section {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

h1, h2 {
  margin: 5px;
}
.submit-button{
  border: none;
  background-color: #228B22;
  color: white;
  padding: 10px;
}
.submit-button:hover{
  background-color: #2B6240;
}

@media screen and (min-width: 426px) {
  .submit-button {
    width: 25%;
    align-self: flex-end;
  }
}

@media screen and (max-width: 426px) {
}
