.element {
  height: 100px;
  min-width: 100px;
  max-width: 100px;
  border: solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.element-title {
  font-size: 45px;
  font-family: serif;
  color: white;
}


@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 426px) {


}

